<div id="sect1" class="text-center">
  <div class="d-flex justify-content-center align-items-center min-vh-100">
   
      <div class="jumbotron">
        <h1 class="display-4" style="font-family: monospace;">About Me</h1>
        <hr class="my-4"> <br>
        <div class="container">
          <p class="lead" style="text-align: center; color: rgb(114, 114, 114);font-family: monospace; font-size: 18px;">Full Stack Developer with hands-on experience gained from a 6-month internship at Nimbus Venture (Pvt) Ltd,
              specializing in object-oriented design and backend technologies.
              Skilled in leveraging Spring Boot for backend development and Angular for frontend solutions,
              with a proven track record in enhancing web applications and optimizing performance. Adept at Collaborate
              effectively with the development team to execute complex web development projects.</p>
        </div>
        <hr class="my-4"> <br><br>


        
      <br>

        
        <a class="btn btn-secondary" [routerLink]="'/workExperience'" role="button">See More about Me</a>
      </div>
  </div>
  


</div>

