<div id="sect1">
  <div class="container min-vh-100 d-flex justify-content-center align-items-center">
      <div class="row align-items-center"> <!-- Ensure vertical alignment -->
          <div class="col-md-6">
              <!-- About Me text and button -->
              <div class="jumbotron">
                  <h1 class="display-4" style="font-family: monospace;">About Me</h1>
                  <hr class="my-4">
                  <div class="lead" style="text-align: left; color: rgb(114, 114, 114); font-family: monospace; font-size: 18px;">
                      Full Stack Developer with hands-on experience gained from a 6-months internship at Nimbus Venture (Pvt) Ltd,
                      specializing in object-oriented design, backend and frontend technologies.<br>
                      Have a strong foundation in Java, Spring framework, Angular, Html, CSS and JS. Experienced in utilizing Spring Boot for backend development
                      and Angular for frontend solutions, with a strong track record of enhancing web applications. Adept at collaborating
                      effectively with the development team to execute complex web development projects.
                  </div>
                  <hr class="my-4">
                  <a class="btn btn-secondary" href="/skills" role="button"><b>See my skills</b></a>
              </div>
          </div>
          <div class="col-md-6 d-flex justify-content-center">
              <!-- Image -->
              <img src="../../assets/my_photo.jpeg" alt="my Photo" class="img-fluid" style="max-width: 90%; height: auto;">
          </div>
      </div>
  </div>
</div>