<div id="sect1" class="text-center">
    <div class="d-flex justify-content-center align-items-center min-vh-100">
       
      <div class="jumbotron">
        <h1 class="display-4" style="font-family: monospace;">My Skills</h1>
        <hr class="my-4"> <br><br>
            
        <div class="row">
          <div class="col"><img class="resized-image" [src]="angular" alt="Angular" loading="lazy"></div>
          <div class="col"><img class="resized-image" [src]="spring" alt="SpringBoot" loading="lazy"></div>
          <div class="col"> <img class="resized-image" [src]="html" alt="html" loading="lazy"></div>
          <div class="col"><img class="resized-image" [src]="css" alt="css" loading="lazy"></div>
          <div class="col"><img class="resized-image" [src]="js" alt="Java Script" loading="lazy"></div>
          <div class="col"><img class="resized-image" [src]="java" alt="Java" loading="lazy"></div>               
          <div class="col"> <img class="resized-image" [src]="linux" alt="linux" loading="lazy"></div>
        </div>
          
        <br><br>
          <div class="row">
            <div class="col"><img class="resized-image" [src]="react" alt="react" loading="lazy"></div>
            <div class="col"><img class="resized-image"  [src]="node" alt="node" loading="lazy"></div>
            <div class="col"> <img class="resized-image" [src]="mySQL" alt="mySQL" loading="lazy"></div>
            <div class="col"><img class="resized-image"  [src]="git" alt="git" loading="lazy"></div>   
          </div>
        <hr class="my-4"> <br><br>
        <a class="btn btn-secondary" [routerLink]="''" role="button"><b>Go to home page</b> </a>
      </div>
      
    </div>
    
</div>


      



      
                
               
