<div id="sect1">
    <div class="container">
        <h1 style="font-size: 45px; color:#acb678; font-family: monospace; text-align: center;">Education</h1>

        <div class="row">
            <div class="col-md-8">
                <h3>B.Sc.(Hons) in Information Technology <br> ( Reading | 2021 - Present )</h3>
                <p class="points">
                    Department of Industrial Management, <br> Faculty of Science, <br> University of Kelaniya.
                </p>
                <ul>
                    <li class="points">Current GPA - 3.32/ 4.00 (Second Upper)</li>
                </ul>
                <hr class="my-4">
            </div>
            <div class="col-sm">
                July 2021 - Present
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>G.C.E. Advanced level ( 2019 )</h3>
                <p class="points">
                    Yasodara Devi Balika Maha Vidyalaya, Gampaha <br> Biological Science stream
                </p>
                <ul>
                    <li class="points">2Bs and 1C</li>
                </ul>
                <hr class="my-4">
            </div>
            <div class="col-sm">
                2019
            </div>
        </div>

        <div class="row">
            <div class="col-md-8">
                <h3>G.C.E. Ordinary level ( 2015 )</h3>
                <p class="points">
                    Yasodara Devi Balika Maha Vidyalaya, Gampaha
                </p>
                <ul>
                    <li class="points">8As and 1B</li>
                </ul>
                <hr class="my-4">
            </div>
            <div class="col-sm">
                2015
            </div>
        </div>
    </div>
</div>
