#sect1 {
    width: 100%;
    color: #acb678;
    background-image: url("../../assets/2193010.jpg");
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.tab-content {
    overflow-y: auto;
}

@media (max-width: 768px) {
    .tab-content {
        padding-bottom: 20px; /* Add padding for smaller screens */
    }
}