<div id="sect1">
    <div  class="container mt-5 pt-4">
        <h1 class="display-4 text-center" style="font-family: monospace;">Projects</h1>
        <div class="container-sm border p-3">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="../../assets/projects/chess.PNG"
                        class="img-fluid" alt="Image 1" style="height: 300px; width: 400px;">
                </div>
                <div class="col-md-8">
                    <h3 class="header3">Simple Chess Game</h3>
                    <span class="description">This project is a basic implementation of a chess game in Java, 
                        designed to follow standard chess rules and provide a graphical user interface 
                        (GUI) for easy interaction. It includes movement logic for all chess pieces, 
                        such as the Queen, King, Rook, Bishop, Knight, and Pawn. This project serves as
                        a learning exercise in Java programming, object-oriented design, and GUI development.
                        Key features include basic chessboard functionality, enforcement of valid moves for all pieces, 
                        and a focus on essential chess mechanics (excluding check and checkmate).</span>
                        <br><br>
                        <a href="https://github.com/Rajani-Navoda/Simple-Chess-Game" target="_blank">
                            <button class="btn btn-dark btn-lg">
                                <i class="bi bi-github"></i> View on GitHub
                            </button>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div  class="container mt-5 pt-4">
        <div class="container-sm border p-3">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="../../assets/projects/chatappbackend.PNG	"
                        class="img-fluid" alt="Image 1" style="height: 200px; width: 400px;">
                </div>
                <div class="col-md-8">
                    <h3 class="header3">Simple Java Chat Application</h3>
                    <span class="description">
                        This project contains the development of a basic chat application, 
                        focusing on backend functionality. The application features both server and client components, 
                        allowing multiple clients to connect to the server and communicate with each other. 
                    </span>
                        <br><br>
                        <a href="https://github.com/Rajani-Navoda/Simple-chat-app-backend" target="_blank">
                            <button class="btn btn-dark btn-lg">
                                <i class="bi bi-github"></i> View on GitHub
                            </button>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div  class="container mt-5 pt-4">
        <div class="container-sm border p-3">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="../../assets/projects/chess.PNG"
                        class="img-fluid" alt="Image 1" style="height: 300px; width: 400px;">
                </div>
                <div class="col-md-8">
                    <h3 class="header3">Simple Chess Game</h3>
                    <span class="description">This project is a basic implementation of a chess game in Java, 
                        designed to follow standard chess rules and provide a graphical user interface 
                        (GUI) for easy interaction. It includes movement logic for all chess pieces, 
                        such as the Queen, King, Rook, Bishop, Knight, and Pawn. This project serves as
                        a learning exercise in Java programming, object-oriented design, and GUI development.
                        Key features include basic chessboard functionality, enforcement of valid moves for all pieces, 
                        and a focus on essential chess mechanics (excluding check and checkmate).</span>
                        <br><br>
                        <a href="https://github.com/Rajani-Navoda/Simple-Chess-Game" target="_blank">
                            <button class="btn btn-dark btn-lg">
                                <i class="bi bi-github"></i> View on GitHub
                            </button>
                        </a>
                </div>
            </div>
        </div>
    </div>

    <div  class="container mt-5 pt-4">
        <div class="container-sm border p-3">
            <div class="row align-items-center">
                <div class="col-md-4 text-center">
                    <img src="../../assets/projects/chess.PNG"
                        class="img-fluid" alt="Image 1" style="height: 300px; width: 400px;">
                </div>
                <div class="col-md-8">
                    <h3 class="header3">Simple Chess Game</h3>
                    <span class="description">This project is a basic implementation of a chess game in Java, 
                        designed to follow standard chess rules and provide a graphical user interface 
                        (GUI) for easy interaction. It includes movement logic for all chess pieces, 
                        such as the Queen, King, Rook, Bishop, Knight, and Pawn. This project serves as
                        a learning exercise in Java programming, object-oriented design, and GUI development.
                        Key features include basic chessboard functionality, enforcement of valid moves for all pieces, 
                        and a focus on essential chess mechanics (excluding check and checkmate).</span>
                        <br><br>
                        <a href="https://github.com/Rajani-Navoda/Simple-Chess-Game" target="_blank">
                            <button class="btn btn-dark btn-lg">
                                <i class="bi bi-github"></i> View on GitHub
                            </button>
                        </a>
                </div>
            </div>
        </div>
    </div>

   
</div>








