<footer class="footer">
    
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" routerLink="aboutMe">About me</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="workExperience">Work Experience</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="education">Education</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="projects">Projects</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="certifications">Certifications</a></li>
      <li class="menu__item"><a class="menu__link" routerLink="contactMe">Contact me</a></li> 


    </ul>
    <p>&copy; 2024 |  Designed & coded with Rajani Navoda.</p>
  </footer>
  