
<div id="sect1" class="container-fluid text-center d-flex flex-column justify-content-center align-items-center vh-100">
    <h1 class="c2" style="font-size: 90px;">
        <span class="text-wrapper">
        <span class="line line1"></span>
          <span class="letters">I am Rajani Navoda</span>
        </span>
      </h1>
      <br>
      <h3  style="font-size: 50px; color: rgb(193, 150, 98); font-family: monospace;" >
        <span class="text-wrapper">
        <span class="line line1"></span>
          <span class="letters">Full Stack Web developer</span>
        </span>
      </h3>
      
      <p style="text-align: center; color: rgb(114, 114, 114);font-family: monospace;">
        <span class="text-wrapper">
            <span class="line line1"></span>
              <span class="letters" style="font-size: 20px;">Hi, I'm Rajani, a passionate Full Stack Developer with expertise in both front-end and back-end technologies.<br>
                 With a strong foundation in modern web frameworks,<br>
                  I specialize in turning ideas into dynamic, functional applications. 
              </span>
            </span>
      </p>

      <!-- Download the CV -->
      <div style="text-align: center; margin-top: 20px;">
        
        <button type="button" class="btn btn-secondary">
          <a href="../../assets/Rajani_Navoda_Resume.pdf" download="Rajani_Navoda_resume.pdf" class="download-link">
            <i class="fas fa-download"></i> Download the CV
          </a>          
          </button>
      </div>
      
    <div class="full-height-container">
        <div class="social-media-container">
            <ul class="list-unstyled social-media" >
                
                <li class="mb-2">
                  <a [href]="linkedIn" target="_blank" [rel]="rel">
                    <i class="bi bi-linkedin social-icon"></i>
                  </a>
                </li>
                <li class="mb-2">
                    <a [href]="gitHub" target="_blank">
                        <i class="bi bi-github social-icon"></i>
                    </a>
                </li>
                <li class="mb-2">
                    <a [href]="hackerRank" target="_blank">
                        <i class="bi bi-braces social-icon"></i> 
                    </a>
                </li>
                <li class="mb-2">
                    <a [href]="leetCode" target="_blank">
                        <i class="bi bi-code social-icon"></i> 
                    </a>
                </li>
            </ul>
        </div>
    </div> 
</div>

  <app-about-me></app-about-me>
  <app-work-experience-education></app-work-experience-education>
  <app-education></app-education>
  <app-projects></app-projects>
  <app-certifications></app-certifications>
  <app-contactme></app-contactme>
  <app-footer></app-footer>

 
  