<div id="sect1">
    <div class="container">
        
            <h1 style="font-size: 45px; color:#acb678; font-family: monospace; text-align: center;">Work experience </h1>
              
        <div class="row">
            <div class="col-md-8">
                <h2 style="font-size: 20px; font-family: monospace;">Software Engineering Intern, <br> Nimbus Venture (Pvt) Ltd.</h2>
                <hr class="my-4">
                <p class="points">Nimbus Venture is a cloud-based solutions provider specializing in GPS tracking,
                    monitoring, and managing vehicles, assets, and fleet employees. As a Software Engineering Intern,
                    I contributed to developing features for the Transportation Management System (TMS) web application,
                    using Spring-Boot for the backend and Angular for the front end.</p>

                <h3>Key Responsibilities:</h3>
                <ul class="points">
                    <li>Collaborated with a team to develop and enhance web applications using Angular and Spring-boot.</li>
                    <li>Contributed to the development of new features and functionalities for the TMS.</li>
                    <li>Developed SQL queries for data insertion and modification.</li>
                </ul>

                <h3>Skills and Experience Gained:</h3>
                <ul class="points">
                    <li>Experience in collaborative teamwork, time management, and problem-solving in a professional environment.</li>
                    <li>Practical knowledge in developing backend and frontend applications.</li>
                </ul>

                <h3>Research and Development:</h3>
                
                <p class="points">GraphHopper Integration: Conducted research and development to enhance route optimization capabilities using GraphHopper,
                    focusing on improving the efficiency and accuracy of vehicle routing and fleet management.</p>
                    <span class="badge badge-light" style="font-size: 16px;">Angular</span> 
                    <span class="badge badge-light" style="font-size: 16px;">Spring-Boot</span>
                    <span class="badge badge-light" style="font-size: 16px;">Java</span>
                    <span class="badge badge-light" style="font-size: 16px;">TypeScipt</span>
                    <span class="badge badge-light" style="font-size: 16px;">MySQL</span>    
            </div>
           
            <div class="col-sm">
                September 2023 - March 2024
            </div>
        </div>
    </div>   
</div>
